In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('movies.csv')
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
rat=pd.read_csv('ratings.csv')
rat.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
filtered_rat = rat[rat['rating']==5]

filtered_rat.head()

   userId  movieId  rating  timestamp
3       1       47     5.0  964983815
4       1       50     5.0  964982931
6       1      101     5.0  964980868
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [5]:
filterd_rat=filtered_rat[['movieId','rating']].groupby(['movieId']).count()

In [6]:
filterd_rat[filterd_rat['rating'] == filterd_rat['rating'].max()]

         rating
movieId
318         153

In [7]:
data.query('movieId==318')

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

In [8]:
###ВТОРОЕ ЗАДАНИЕ###

In [10]:
data1=pd.read_csv('power.csv')
data1.head()
df = data1.drop(data1[~(data1['category'].isin([4,12,21]))].index)
df = df.drop(df[~(df['country'].isin(['Lithuania','Latvia','Estonia']))].index)
df = df.drop(df[~(df['year'].isin([2005,2006,2007,2008,2009,2010]))].index)
df['quantity'].sum()

240481.0